---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Blog " />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/blue_swirl.avif" />
        <meta name="generator" content={Astro.generator} />
        <title>DRS</title>
    </head>
    <body>
        <Header />
        <main id="main-content">
            <div id="about">
                <p>Hello, I'm Daniel.</p>
                <p>
                    I'm a writer and data specialist living in Ashland, OR with my wife and our two kids.
                    I write poetry and nonfiction, am pursuing a self-study graduate curriculum in applied mathematics, and I have too many hobbies. 
                </p>
                <p>
                    <strong>Degrees:</strong> A.A.S. Electronics | B.A. Anthropology | B.S. Mathematics
                </p>
            </div>

            

            <div id="interests">
                <h1>Interests</h1>
                <p>
                    Formal Theories<br>
                    Poetry<br>
                    Anthropology<br>
                    Game Design<br>
                    TTRPGs<br>
                    Synthesizers<br>
                </p>
            </div>

            <div id="skills">
                <h1>Skills</h1>
                <p>
                    Mathematics<br>
                    Data Analysis<br>
                    Automation<br>
                    Writing<br>
                    Electronics<br>
                    Eating Spicy Food<br>
                </p>
            </div> 

            <div id="books">
                <hr />
                <h1>Books and Papers</h1>
                <div>
                    <p><a href="/posts/book-tensegrity">Tensegrity</a> (poems)</p>
                </div>
                <div>
                    <p><a href="/modeling-open-systems.pdf">Modeling Open Systems with Category Theory</a> (capstone paper)</p>
                </div>     
                <div>
                    <p><a href="/posts/book-vocoder">Vocoder</a> (poems: in revision)</p>
                </div>              
            </div>

            <div id="projects">
                <hr />
                <h1>Projects</h1>
                <div>
                    <p><a href="/posts/Rust-and-Ruin-1">Rust & Ruin</a> (tabletop roleplaying game: v0.5 is being play tested)</p>
                </div>

                <div>
                    <p><a href="/posts/DIYphd-1">DIY Graduate School</a></p>
                </div>

                <div>
                    <p><a href="/posts/synthesizers-1">Terrible Synthesizers</a></p>
                </div>

                <div>
                    <p><a href="/posts/journey-to-the-bright-and-wild-1">Journey to the Bright and Wild</a> (tabletop roleplaying game for kids)</p>
                </div>

<!--                <div> -->
<!--                    <p><a>Plasmid</a> (digital synthesizer)</p> -->
<!--                </div> -->
            </div> 

            

            <div id="blog">
                <hr />
                <h1>Blog</h1>
                <a href="/posts/DIYphd-1"
                    >Building a Graduate Curriculum for Self-Study</a
                >
            </div>

            <div id="foot">
                <Footer />
            </div>
        </main>



        <style>
            #main-content {
                width: clamp(400px, 100%, 800px);
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: auto;
            }

            #about {
                grid-column: 1 / 7;
            }

            #interests {
                grid-column: 1 / 4;
            }

            #skills {
                grid-column: 4 / 7;
            }

            #books {
                margin-top: 15px;
                grid-column: 1 / 7;
            }

            #projects {
                margin-top: 15px;
                grid-column: 1 / 7;
            }

            #blog {
                margin-top: 15px;
                margin-bottom: 15px;
                grid-column: 1 / 7;
            }

            #foot {
                grid-column: 1 / 7;
            }
            
        </style>
    </body>
</html>
