<footer>
    <hr />
    <p>
        Website made by Daniel Sinderson, a total amateur, using <a href="https://astro.build/">Astro</a><br>
        Last Updated December, 2024
    </p>
</footer>


<style>
    footer {
        position: sticky;
        background-color: #FBF9FA;
        padding-top: 50px;
    }
</style>
