<div class="nav-links">
    <a href="/">MOON BASE</a>
    &nbsp;
    <a href="/browse">Browse</a>
    &nbsp;
    <a href="/contact">Connect</a>
    &nbsp;
    <a href="/resources">Resources</a>
</div>
<hr style="width: 100%;" />
<div class="footer-info">
    <p>Copyright © 2023 Moon Base Books, LLC</p>
    <p>Ashland, Oregon</p>
</div>

<style>
    .nav-links {
        margin-top: 20px;
    }
</style>
