---
import "../styles/global.css";
---

<header>
    <a href="/">Working Theories</a>
    &nbsp; &nbsp;
    <div class="verticalLine">
        &nbsp;
        <a href="/#blog">Blog</a>
        &nbsp;
        <a href="/#books">Books</a>
        &nbsp;
        <a href="/#projects">Projects</a>
    </div>
</header>
<hr />

<style>
    header {
        position: sticky;
        display: flex;
        justify-content: flex-start;
        font-size: large;
        padding-bottom: 5px;
    }

    .verticalLine {
        border-left: thin solid black;
    }
</style>
